# Data Science Jobs Analyze

Group:
* Anchal
* Angela
* Larissa
* Fabio
* Felipe

This program extracts data from Indeed.ca website to analyze main caracteristics 
of Data Science Job opportunities in Toronto

In [1]:
#################### IMPORT LIBRARIES ####################

In [2]:
import datetime
import numpy as np
import pandas as pd
import re 
import requests
import datetime
from bs4 import BeautifulSoup
import time
import os

In [3]:
#################### SEARCH ARGUMENTS ####################

In [4]:
print('Start Time')
ts = time.time()
print (datetime.datetime.fromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S'))

input_job = "Data Scientist"
input_quote = False # add quotation marks("") to your input_job
input_city = "" # leave empty if input_city is not specified
input_state = "Canada"
sign = "+"
BASE_URL_indeed =  'https://ca.indeed.com/' #'http://www.indeed.com'

Start Time
2018-11-20 20:12:58

In [5]:
##### Function for Transform searching keywords #####
def transform(input,sign, quote = False):
    syntax = input.replace(" ", sign)
    if quote == True:
        syntax = ''.join(['"', syntax, '"'])
    return(syntax)

In [6]:
################# GENERATING BASE INDEED URL #################

In [7]:

if not input_city: # if (input_city is "")
    url_indeed_list = [ BASE_URL_indeed, '/jobs?q=', transform(input_job, sign, input_quote),
                    '&l=', input_state]
    url_indeed = ''.join(url_indeed_list)
else: # input_city is not ""
    url_indeed_list = [ BASE_URL_indeed, '/jobs?q=', transform(input_job, sign, input_quote),
                    '&l=', transform(input_city, sign), '%2C+', input_state]
    url_indeed = ''.join(url_indeed_list)

print(url_indeed)

https://ca.indeed.com//jobs?q=Data+Scientist&l=Canada

In [8]:
# get the HTML code from the URL
rawcode_indeed = requests.get(url_indeed)

# Choose "lxml" as parser
soup_indeed = BeautifulSoup(rawcode_indeed.text, "lxml")

In [9]:
# total number of results
num_total_indeed = soup_indeed.find(
                        id = 'searchCount').contents[0].split()[-2]

print("total results:")
print(soup_indeed.find(id = 'searchCount').contents[0])
print(soup_indeed.find(id = 'searchCount').contents[0].split()[-2])
num_total_indeed = re.sub("[^0-9]","", num_total_indeed) # remove non-numeric characters in the string
num_total_indeed = int(num_total_indeed)
#print(num_total_indeed)

# total number of pages
num_pages_indeed = int(np.ceil(num_total_indeed/10.0))
#print(num_pages_indeed)

# create an empty dataframe
df_base = pd.DataFrame()
# the date for today
now = datetime.datetime.now()
now_str = now.strftime("%m/%d/%Y")
now_str_name=now.strftime('%m%d%Y')

total results:

        Page 1 of 1,052 jobs
1,052

In [10]:
############ function to clean text before scraping ###########

In [11]:
def text_cleaner(dirty_text):

    text = dirty_text

    lines = (line.strip() for line in text.splitlines()) # break into lines

    chunks = (phrase.strip() for line in lines for phrase in line.split("  ")) # break multi-headlines into a line each
    
    text = ''.join(chunk for chunk in chunks if chunk).encode('utf-8') # Get rid of all blank lines and ends of line
    
    # Now clean out all of the unicode junk (this line works great!!!)
    
    try:
        text = text.decode('unicode_escape').encode('ascii', 'ignore') # Need this as some websites aren't formatted
    except:                                                            # in a way that this works, can occasionally throw
        return                                                         # an exception
   
    #print(text)
    text = text.decode('utf-8')
    text = re.sub("[^a-zA-Z+3]"," ", text)  # Now get rid of any terms that aren't words (include 3 for d3.js)
                                             # Also include + for C++
    text = re.sub(r"([a-z])([A-Z])", r"\1 \2", text) # Fix spacing issue from merged words
    
    text = text.lower().split()  # Go to lower case and split them apart
    
    
   # stop_words = set(stopwords.words("english")) # Filter out any stop words
   # text = [w for w in text if not w in stop_words]
    
    text = list(set(text)) # Last, just get the set of these. Ignore counts (we are just looking at whether a term existed
                           # or not on the website)
    
    return text

######### CREATING DATA FRAME WITH ALL JOB OPPORTUNITIES URLS #####

In [12]:
######## functions ###########
def Salary(soup):
    try:
        salary = soup.find( attrs = {'class' : 'jobsearch-JobMetadataHeader-item'})
        return  salary.contents
    except:
        return 'Not Informed'
    
def Job_Type(soup):
    try:
        rawcode = requests.get(url)
        soup = BeautifulSoup(rawcode.text, "html.parser")
        job_type = soup.find( attrs = {'class' : 'jobsearch-JobMetadataHeader-item icl-u-xs-mt--xs'})
        return  job_type.contents
    except:
        return 'Not Informed'

In [13]:
########################################
##### Loop for all the total pages #####
########################################

#num_pages_indeed = 1 
df_base = pd.DataFrame()
count = 0

for i in range(1, num_pages_indeed+1):
    # generate the URL
    url = ''.join([url_indeed, '&start=', str(i*10)])
    #print(url)

    # get  LXML
    rawcode = requests.get(url)
    soup_lxml = BeautifulSoup(rawcode.text, "lxml")
    
    
    #Extracting the Salary


    # pick out all the "div" with "class="job-row"
    divs = soup_lxml.findAll("div")
    job_divs = [jp for jp in divs if not jp.get('class') is None
                    and 'row' in jp.get('class')]

    
    for job in job_divs:
        try:
            
            ix = job.index
            # job id
            id = job.get('data-jk', None)
            #print(id)
            
            # job link related to job id
            
            link = BASE_URL_indeed + '/viewjob'+ '?jk=' + id
            #link = 'https://ca.indeed.com/Data-Scientist-jobs-in-Canada?vjk=' + id
            #print(link)
            
            # job title
            title = job.find('a', attrs={'data-tn-element': 'jobTitle'}).attrs['title']
            #print(title)
            
            #sja = 'sja'+ str(count)
            #href = BASE_URL_indeed + job.find('a', attrs={'id': sja}).attrs['href']
            
            
            #print(href)
            #count = count + 1
            # job company
            company = job.find('span', {'class': 'company'}).text.strip()
            #print(company)
            
            # job location
            location = job.find('span', {'class': 'location'}).text.strip()
            #print(location)
            #city, province
            city,province = location.split(',')
            
            ### html.parser - Felipe
            r = requests.get(link)
            soup_html = BeautifulSoup(r.text, "html.parser")
            #print(soup_html)
            
            # salary
            salary = Salary(soup_html)
            #print('salary:' + salary)
            
            # job type
            jobtype = Job_Type(soup_html)

            
            #Extracting the Job Title
            position = soup_html.find(attrs = {'class' : 'icl-u-xs-mb--xs icl-u-xs-mt--none jobsearch-JobInfoHeader-title'})
            position = position.contents
            
           
            # job Requirements
            try:   
                #page = requests.get(link)
                #soup = BeautifulSoup(page.text, 'html.parser')
                text  = soup_html.get_text()
                jobrequirements = text
                #jobrequirements = text_cleaner(text)
                
            except:

                jobrequirements = 'Forbidden'

            
        except:
            continue
        count = count + 1
        df_base = df_base.append({'Job_ID': id,
                                  'JobTitle': title,
                                  'JobType':jobtype,
                                  'CompanyName': company,
                                  'Salary' : salary ,
                                  'Position':position,
                                  'City': city,
                                  'Province':province,
                                  'JobRequirements':jobrequirements,
                                  'Date': now_str,
                                  'From':"Indeed",
                                  'JobLink':link},ignore_index=True)

        print(str(count) +  ' jobs added to the data frame' )

1 jobs added to the data frame
2 jobs added to the data frame
3 jobs added to the data frame
4 jobs added to the data frame
5 jobs added to the data frame
6 jobs added to the data frame
7 jobs added to the data frame
8 jobs added to the data frame
9 jobs added to the data frame
10 jobs added to the data frame
11 jobs added to the data frame
12 jobs added to the data frame
13 jobs added to the data frame
14 jobs added to the data frame
15 jobs added to the data frame
16 jobs added to the data frame
17 jobs added to the data frame
18 jobs added to the data frame
19 jobs added to the data frame
20 jobs added to the data frame
21 jobs added to the data frame
22 jobs added to the data frame
23 jobs added to the data frame
24 jobs added to the data frame
25 jobs added to the data frame
26 jobs added to the data frame
27 jobs added to the data frame
28 jobs added to the data frame
29 jobs added to the data frame
30 jobs added to the data frame
31 jobs added to the data frame
32 jobs added to the data frame
33 jobs added to the data frame
34 jobs added to the data frame
35 jobs added to the data frame
36 jobs added to the data frame
37 jobs added to the data frame
38 jobs added to the data frame
39 jobs added to the data frame
40 jobs added to the data frame
41 jobs added to the data frame
42 jobs added to the data frame
43 jobs added to the data frame
44 jobs added to the data frame
45 jobs added to the data frame
46 jobs added to the data frame
47 jobs added to the data frame
48 jobs added to the data frame
49 jobs added to the data frame
50 jobs added to the data frame
51 jobs added to the data frame
52 jobs added to the data frame
53 jobs added to the data frame
54 jobs added to the data frame
55 jobs added to the data frame
56 jobs added to the data frame
57 jobs added to the data frame
58 jobs added to the data frame
59 jobs added to the data frame
60 jobs added to the data frame
61 jobs added to the data frame
62 jobs added to the data frame
63 jobs added to the data frame
64 jobs added to the data frame
65 jobs added to the data frame
66 jobs added to the data frame
67 jobs added to the data frame
68 jobs added to the data frame
69 jobs added to the data frame
70 jobs added to the data frame
71 jobs added to the data frame
72 jobs added to the data frame
73 jobs added to the data frame
74 jobs added to the data frame
75 jobs added to the data frame
76 jobs added to the data frame
77 jobs added to the data frame
78 jobs added to the data frame
79 jobs added to the data frame
80 jobs added to the data frame
81 jobs added to the data frame
82 jobs added to the data frame
83 jobs added to the data frame
84 jobs added to the data frame
85 jobs added to the data frame
86 jobs added to the data frame
87 jobs added to the data frame
88 jobs added to the data frame
89 jobs added to the data frame
90 jobs added to the data frame
91 jobs added to the data frame
92 jobs added to the data frame
93 jobs added to the data frame
94 jobs added to the data frame
95 jobs added to the data frame
96 jobs added to the data frame
97 jobs added to the data frame
98 jobs added to the data frame
99 jobs added to the data frame
100 jobs added to the data frame
101 jobs added to the data frame
102 jobs added to the data frame
103 jobs added to the data frame
104 jobs added to the data frame
105 jobs added to the data frame
106 jobs added to the data frame
107 jobs added to the data frame
108 jobs added to the data frame
109 jobs added to the data frame
110 jobs added to the data frame
111 jobs added to the data frame
112 jobs added to the data frame
113 jobs added to the data frame
114 jobs added to the data frame
115 jobs added to the data frame
116 jobs added to the data frame
117 jobs added to the data frame
118 jobs added to the data frame
119 jobs added to the data frame
120 jobs added to the data frame
121 jobs added to the data frame
122 jobs added to the data frame
123 jobs added to the data frame
124 jobs added to the data frame
125 jobs added to the data frame
126 jobs added to the data frame
127 jobs added to the data frame
128 jobs added to the data frame
129 jobs added to the data frame
130 jobs added to the data frame
131 jobs added to the data frame
132 jobs added to the data frame
133 jobs added to the data frame
134 jobs added to the data frame
135 jobs added to the data frame
136 jobs added to the data frame
137 jobs added to the data frame
138 jobs added to the data frame
139 jobs added to the data frame
140 jobs added to the data frame
141 jobs added to the data frame
142 jobs added to the data frame
143 jobs added to the data frame
144 jobs added to the data frame
145 jobs added to the data frame
146 jobs added to the data frame
147 jobs added to the data frame
148 jobs added to the data frame
149 jobs added to the data frame
150 jobs added to the data frame
151 jobs added to the data frame
152 jobs added to the data frame
153 jobs added to the data frame
154 jobs added to the data frame
155 jobs added to the data frame
156 jobs added to the data frame
157 jobs added to the data frame
158 jobs added to the data frame
159 jobs added to the data frame
160 jobs added to the data frame
161 jobs added to the data frame
162 jobs added to the data frame
163 jobs added to the data frame
164 jobs added to the data frame
165 jobs added to the data frame
166 jobs added to the data frame
167 jobs added to the data frame
168 jobs added to the data frame
169 jobs added to the data frame
170 jobs added to the data frame
171 jobs added to the data frame
172 jobs added to the data frame
173 jobs added to the data frame
174 jobs added to the data frame
175 jobs added to the data frame
176 jobs added to the data frame
177 jobs added to the data frame
178 jobs added to the data frame
179 jobs added to the data frame
180 jobs added to the data frame
181 jobs added to the data frame
182 jobs added to the data frame
183 jobs added to the data frame
184 jobs added to the data frame
185 jobs added to the data frame
186 jobs added to the data frame
187 jobs added to the data frame
188 jobs added to the data frame
189 jobs added to the data frame
190 jobs added to the data frame
191 jobs added to the data frame
192 jobs added to the data frame
193 jobs added to the data frame
194 jobs added to the data frame
195 jobs added to the data frame
196 jobs added to the data frame
197 jobs added to the data frame
198 jobs added to the data frame
199 jobs added to the data frame
200 jobs added to the data frame
201 jobs added to the data frame
202 jobs added to the data frame
203 jobs added to the data frame
204 jobs added to the data frame
205 jobs added to the data frame
206 jobs added to the data frame
207 jobs added to the data frame
208 jobs added to the data frame
209 jobs added to the data frame
210 jobs added to the data frame
211 jobs added to the data frame
212 jobs added to the data frame
213 jobs added to the data frame
214 jobs added to the data frame
215 jobs added to the data frame
216 jobs added to the data frame
217 jobs added to the data frame
218 jobs added to the data frame
219 jobs added to the data frame
220 jobs added to the data frame
221 jobs added to the data frame
222 jobs added to the data frame
223 jobs added to the data frame
224 jobs added to the data frame
225 jobs added to the data frame
226 jobs added to the data frame
227 jobs added to the data frame
228 jobs added to the data frame
229 jobs added to the data frame
230 jobs added to the data frame
231 jobs added to the data frame
232 jobs added to the data frame
233 jobs added to the data frame
234 jobs added to the data frame
235 jobs added to the data frame
236 jobs added to the data frame
237 jobs added to the data frame
238 jobs added to the data frame
239 jobs added to the data frame
240 jobs added to the data frame
241 jobs added to the data frame
242 jobs added to the data frame
243 jobs added to the data frame
244 jobs added to the data frame
245 jobs added to the data frame
246 jobs added to the data frame
247 jobs added to the data frame
248 jobs added to the data frame
249 jobs added to the data frame
250 jobs added to the data frame
251 jobs added to the data frame
252 jobs added to the data frame

253 jobs added to the data frame
254 jobs added to the data frame
255 jobs added to the data frame
256 jobs added to the data frame
257 jobs added to the data frame
258 jobs added to the data frame
259 jobs added to the data frame
260 jobs added to the data frame
261 jobs added to the data frame
262 jobs added to the data frame
263 jobs added to the data frame
264 jobs added to the data frame
265 jobs added to the data frame
266 jobs added to the data frame
267 jobs added to the data frame
268 jobs added to the data frame
269 jobs added to the data frame
270 jobs added to the data frame
271 jobs added to the data frame
272 jobs added to the data frame
273 jobs added to the data frame
274 jobs added to the data frame
275 jobs added to the data frame
276 jobs added to the data frame
277 jobs added to the data frame
278 jobs added to the data frame
279 jobs added to the data frame
280 jobs added to the data frame
281 jobs added to the data frame
282 jobs added to the data frame
283 jobs added to the data frame
284 jobs added to the data frame
285 jobs added to the data frame
286 jobs added to the data frame
287 jobs added to the data frame
288 jobs added to the data frame
289 jobs added to the data frame
290 jobs added to the data frame
291 jobs added to the data frame
292 jobs added to the data frame
293 jobs added to the data frame
294 jobs added to the data frame
295 jobs added to the data frame
296 jobs added to the data frame
297 jobs added to the data frame
298 jobs added to the data frame
299 jobs added to the data frame
300 jobs added to the data frame
301 jobs added to the data frame
302 jobs added to the data frame
303 jobs added to the data frame
304 jobs added to the data frame
305 jobs added to the data frame
306 jobs added to the data frame
307 jobs added to the data frame
308 jobs added to the data frame
309 jobs added to the data frame
310 jobs added to the data frame
311 jobs added to the data frame
312 jobs added to the data frame
313 jobs added to the data frame
314 jobs added to the data frame
315 jobs added to the data frame
316 jobs added to the data frame
317 jobs added to the data frame
318 jobs added to the data frame
319 jobs added to the data frame
320 jobs added to the data frame
321 jobs added to the data frame
322 jobs added to the data frame
323 jobs added to the data frame
324 jobs added to the data frame
325 jobs added to the data frame
326 jobs added to the data frame
327 jobs added to the data frame
328 jobs added to the data frame
329 jobs added to the data frame
330 jobs added to the data frame
331 jobs added to the data frame
332 jobs added to the data frame
333 jobs added to the data frame
334 jobs added to the data frame
335 jobs added to the data frame
336 jobs added to the data frame
337 jobs added to the data frame
338 jobs added to the data frame
339 jobs added to the data frame
340 jobs added to the data frame
341 jobs added to the data frame
342 jobs added to the data frame
343 jobs added to the data frame
344 jobs added to the data frame
345 jobs added to the data frame
346 jobs added to the data frame
347 jobs added to the data frame
348 jobs added to the data frame
349 jobs added to the data frame
350 jobs added to the data frame
351 jobs added to the data frame
352 jobs added to the data frame
353 jobs added to the data frame
354 jobs added to the data frame
355 jobs added to the data frame
356 jobs added to the data frame
357 jobs added to the data frame
358 jobs added to the data frame
359 jobs added to the data frame
360 jobs added to the data frame
361 jobs added to the data frame
362 jobs added to the data frame
363 jobs added to the data frame
364 jobs added to the data frame
365 jobs added to the data frame
366 jobs added to the data frame
367 jobs added to the data frame
368 jobs added to the data frame
369 jobs added to the data frame
370 jobs added to the data frame
371 jobs added to the data frame
372 jobs added to the data frame
373 jobs added to the data frame
374 jobs added to the data frame
375 jobs added to the data frame
376 jobs added to the data frame
377 jobs added to the data frame
378 jobs added to the data frame
379 jobs added to the data frame
380 jobs added to the data frame
381 jobs added to the data frame
382 jobs added to the data frame
383 jobs added to the data frame
384 jobs added to the data frame
385 jobs added to the data frame
386 jobs added to the data frame
387 jobs added to the data frame
388 jobs added to the data frame
389 jobs added to the data frame
390 jobs added to the data frame
391 jobs added to the data frame
392 jobs added to the data frame
393 jobs added to the data frame
394 jobs added to the data frame
395 jobs added to the data frame
396 jobs added to the data frame
397 jobs added to the data frame
398 jobs added to the data frame
399 jobs added to the data frame
400 jobs added to the data frame
401 jobs added to the data frame
402 jobs added to the data frame
403 jobs added to the data frame
404 jobs added to the data frame
405 jobs added to the data frame
406 jobs added to the data frame
407 jobs added to the data frame
408 jobs added to the data frame
409 jobs added to the data frame
410 jobs added to the data frame
411 jobs added to the data frame
412 jobs added to the data frame
413 jobs added to the data frame
414 jobs added to the data frame
415 jobs added to the data frame
416 jobs added to the data frame
417 jobs added to the data frame
418 jobs added to the data frame
419 jobs added to the data frame
420 jobs added to the data frame
421 jobs added to the data frame
422 jobs added to the data frame
423 jobs added to the data frame
424 jobs added to the data frame
425 jobs added to the data frame
426 jobs added to the data frame
427 jobs added to the data frame
428 jobs added to the data frame
429 jobs added to the data frame
430 jobs added to the data frame
431 jobs added to the data frame
432 jobs added to the data frame
433 jobs added to the data frame
434 jobs added to the data frame
435 jobs added to the data frame
436 jobs added to the data frame
437 jobs added to the data frame
438 jobs added to the data frame
439 jobs added to the data frame
440 jobs added to the data frame
441 jobs added to the data frame
442 jobs added to the data frame
443 jobs added to the data frame
444 jobs added to the data frame
445 jobs added to the data frame
446 jobs added to the data frame
447 jobs added to the data frame
448 jobs added to the data frame
449 jobs added to the data frame
450 jobs added to the data frame
451 jobs added to the data frame
452 jobs added to the data frame
453 jobs added to the data frame
454 jobs added to the data frame
455 jobs added to the data frame
456 jobs added to the data frame
457 jobs added to the data frame
458 jobs added to the data frame
459 jobs added to the data frame
460 jobs added to the data frame
461 jobs added to the data frame
462 jobs added to the data frame
463 jobs added to the data frame
464 jobs added to the data frame
465 jobs added to the data frame
466 jobs added to the data frame
467 jobs added to the data frame
468 jobs added to the data frame
469 jobs added to the data frame
470 jobs added to the data frame
471 jobs added to the data frame
472 jobs added to the data frame
473 jobs added to the data frame
474 jobs added to the data frame
475 jobs added to the data frame
476 jobs added to the data frame
477 jobs added to the data frame
478 jobs added to the data frame
479 jobs added to the data frame
480 jobs added to the data frame
481 jobs added to the data frame
482 jobs added to the data frame
483 jobs added to the data frame
484 jobs added to the data frame
485 jobs added to the data frame
486 jobs added to the data frame
487 jobs added to the data frame
488 jobs added to the data frame
489 jobs added to the data frame
490 jobs added to the data frame
491 jobs added to the data frame
492 jobs added to the data frame
493 jobs added to the data frame
494 jobs added to the data frame
495 jobs added to the data frame
496 jobs added to the data frame
497 jobs added to the data frame
498 jobs added to the data frame
499 jobs added to the data frame
500 jobs added to the data frame
501 jobs added to the data frame

502 jobs added to the data frame
503 jobs added to the data frame
504 jobs added to the data frame
505 jobs added to the data frame
506 jobs added to the data frame
507 jobs added to the data frame
508 jobs added to the data frame
509 jobs added to the data frame
510 jobs added to the data frame
511 jobs added to the data frame
512 jobs added to the data frame
513 jobs added to the data frame
514 jobs added to the data frame
515 jobs added to the data frame
516 jobs added to the data frame
517 jobs added to the data frame
518 jobs added to the data frame
519 jobs added to the data frame
520 jobs added to the data frame
521 jobs added to the data frame
522 jobs added to the data frame
523 jobs added to the data frame
524 jobs added to the data frame
525 jobs added to the data frame
526 jobs added to the data frame
527 jobs added to the data frame
528 jobs added to the data frame
529 jobs added to the data frame
530 jobs added to the data frame
531 jobs added to the data frame
532 jobs added to the data frame
533 jobs added to the data frame
534 jobs added to the data frame
535 jobs added to the data frame
536 jobs added to the data frame
537 jobs added to the data frame
538 jobs added to the data frame
539 jobs added to the data frame
540 jobs added to the data frame
541 jobs added to the data frame
542 jobs added to the data frame
543 jobs added to the data frame
544 jobs added to the data frame
545 jobs added to the data frame
546 jobs added to the data frame
547 jobs added to the data frame
548 jobs added to the data frame
549 jobs added to the data frame
550 jobs added to the data frame
551 jobs added to the data frame
552 jobs added to the data frame
553 jobs added to the data frame
554 jobs added to the data frame
555 jobs added to the data frame
556 jobs added to the data frame
557 jobs added to the data frame
558 jobs added to the data frame
559 jobs added to the data frame
560 jobs added to the data frame
561 jobs added to the data frame
562 jobs added to the data frame
563 jobs added to the data frame
564 jobs added to the data frame
565 jobs added to the data frame
566 jobs added to the data frame
567 jobs added to the data frame
568 jobs added to the data frame
569 jobs added to the data frame
570 jobs added to the data frame
571 jobs added to the data frame
572 jobs added to the data frame
573 jobs added to the data frame
574 jobs added to the data frame
575 jobs added to the data frame
576 jobs added to the data frame
577 jobs added to the data frame
578 jobs added to the data frame
579 jobs added to the data frame
580 jobs added to the data frame
581 jobs added to the data frame
582 jobs added to the data frame
583 jobs added to the data frame
584 jobs added to the data frame
585 jobs added to the data frame
586 jobs added to the data frame
587 jobs added to the data frame
588 jobs added to the data frame
589 jobs added to the data frame
590 jobs added to the data frame
591 jobs added to the data frame
592 jobs added to the data frame
593 jobs added to the data frame
594 jobs added to the data frame
595 jobs added to the data frame
596 jobs added to the data frame
597 jobs added to the data frame
598 jobs added to the data frame
599 jobs added to the data frame
600 jobs added to the data frame
601 jobs added to the data frame
602 jobs added to the data frame
603 jobs added to the data frame
604 jobs added to the data frame
605 jobs added to the data frame
606 jobs added to the data frame
607 jobs added to the data frame
608 jobs added to the data frame
609 jobs added to the data frame
610 jobs added to the data frame
611 jobs added to the data frame
612 jobs added to the data frame
613 jobs added to the data frame
614 jobs added to the data frame
615 jobs added to the data frame
616 jobs added to the data frame
617 jobs added to the data frame
618 jobs added to the data frame
619 jobs added to the data frame
620 jobs added to the data frame
621 jobs added to the data frame
622 jobs added to the data frame
623 jobs added to the data frame
624 jobs added to the data frame
625 jobs added to the data frame
626 jobs added to the data frame
627 jobs added to the data frame
628 jobs added to the data frame
629 jobs added to the data frame
630 jobs added to the data frame
631 jobs added to the data frame
632 jobs added to the data frame
633 jobs added to the data frame
634 jobs added to the data frame
635 jobs added to the data frame
636 jobs added to the data frame
637 jobs added to the data frame
638 jobs added to the data frame
639 jobs added to the data frame
640 jobs added to the data frame
641 jobs added to the data frame
642 jobs added to the data frame
643 jobs added to the data frame
644 jobs added to the data frame
645 jobs added to the data frame
646 jobs added to the data frame
647 jobs added to the data frame
648 jobs added to the data frame
649 jobs added to the data frame
650 jobs added to the data frame
651 jobs added to the data frame
652 jobs added to the data frame
653 jobs added to the data frame
654 jobs added to the data frame
655 jobs added to the data frame
656 jobs added to the data frame
657 jobs added to the data frame
658 jobs added to the data frame
659 jobs added to the data frame
660 jobs added to the data frame
661 jobs added to the data frame
662 jobs added to the data frame
663 jobs added to the data frame
664 jobs added to the data frame
665 jobs added to the data frame
666 jobs added to the data frame
667 jobs added to the data frame
668 jobs added to the data frame
669 jobs added to the data frame
670 jobs added to the data frame
671 jobs added to the data frame
672 jobs added to the data frame
673 jobs added to the data frame
674 jobs added to the data frame
675 jobs added to the data frame
676 jobs added to the data frame
677 jobs added to the data frame
678 jobs added to the data frame
679 jobs added to the data frame
680 jobs added to the data frame
681 jobs added to the data frame
682 jobs added to the data frame
683 jobs added to the data frame
684 jobs added to the data frame
685 jobs added to the data frame
686 jobs added to the data frame
687 jobs added to the data frame
688 jobs added to the data frame
689 jobs added to the data frame
690 jobs added to the data frame
691 jobs added to the data frame
692 jobs added to the data frame
693 jobs added to the data frame
694 jobs added to the data frame
695 jobs added to the data frame
696 jobs added to the data frame
697 jobs added to the data frame
698 jobs added to the data frame
699 jobs added to the data frame
700 jobs added to the data frame
701 jobs added to the data frame
702 jobs added to the data frame
703 jobs added to the data frame
704 jobs added to the data frame
705 jobs added to the data frame
706 jobs added to the data frame
707 jobs added to the data frame
708 jobs added to the data frame
709 jobs added to the data frame
710 jobs added to the data frame
711 jobs added to the data frame
712 jobs added to the data frame
713 jobs added to the data frame
714 jobs added to the data frame
715 jobs added to the data frame
716 jobs added to the data frame
717 jobs added to the data frame
718 jobs added to the data frame
719 jobs added to the data frame
720 jobs added to the data frame
721 jobs added to the data frame
722 jobs added to the data frame
723 jobs added to the data frame
724 jobs added to the data frame
725 jobs added to the data frame
726 jobs added to the data frame
727 jobs added to the data frame
728 jobs added to the data frame
729 jobs added to the data frame
730 jobs added to the data frame
731 jobs added to the data frame
732 jobs added to the data frame
733 jobs added to the data frame
734 jobs added to the data frame
735 jobs added to the data frame
736 jobs added to the data frame
737 jobs added to the data frame
738 jobs added to the data frame
739 jobs added to the data frame
740 jobs added to the data frame
741 jobs added to the data frame
742 jobs added to the data frame
743 jobs added to the data frame
744 jobs added to the data frame
745 jobs added to the data frame
746 jobs added to the data frame
747 jobs added to the data frame
748 jobs added to the data frame
749 jobs added to the data frame
750 jobs added to the data frame

751 jobs added to the data frame
752 jobs added to the data frame
753 jobs added to the data frame
754 jobs added to the data frame
755 jobs added to the data frame
756 jobs added to the data frame
757 jobs added to the data frame
758 jobs added to the data frame
759 jobs added to the data frame
760 jobs added to the data frame
761 jobs added to the data frame
762 jobs added to the data frame
763 jobs added to the data frame
764 jobs added to the data frame
765 jobs added to the data frame
766 jobs added to the data frame
767 jobs added to the data frame
768 jobs added to the data frame
769 jobs added to the data frame
770 jobs added to the data frame
771 jobs added to the data frame
772 jobs added to the data frame
773 jobs added to the data frame
774 jobs added to the data frame
775 jobs added to the data frame
776 jobs added to the data frame
777 jobs added to the data frame
778 jobs added to the data frame
779 jobs added to the data frame
780 jobs added to the data frame
781 jobs added to the data frame
782 jobs added to the data frame
783 jobs added to the data frame
784 jobs added to the data frame
785 jobs added to the data frame
786 jobs added to the data frame
787 jobs added to the data frame
788 jobs added to the data frame
789 jobs added to the data frame
790 jobs added to the data frame
791 jobs added to the data frame
792 jobs added to the data frame
793 jobs added to the data frame
794 jobs added to the data frame
795 jobs added to the data frame
796 jobs added to the data frame
797 jobs added to the data frame
798 jobs added to the data frame
799 jobs added to the data frame
800 jobs added to the data frame
801 jobs added to the data frame
802 jobs added to the data frame
803 jobs added to the data frame
804 jobs added to the data frame
805 jobs added to the data frame
806 jobs added to the data frame
807 jobs added to the data frame
808 jobs added to the data frame
809 jobs added to the data frame
810 jobs added to the data frame
811 jobs added to the data frame
812 jobs added to the data frame
813 jobs added to the data frame
814 jobs added to the data frame
815 jobs added to the data frame
816 jobs added to the data frame
817 jobs added to the data frame
818 jobs added to the data frame
819 jobs added to the data frame
820 jobs added to the data frame
821 jobs added to the data frame
822 jobs added to the data frame
823 jobs added to the data frame
824 jobs added to the data frame
825 jobs added to the data frame
826 jobs added to the data frame
827 jobs added to the data frame
828 jobs added to the data frame
829 jobs added to the data frame
830 jobs added to the data frame
831 jobs added to the data frame
832 jobs added to the data frame
833 jobs added to the data frame
834 jobs added to the data frame
835 jobs added to the data frame
836 jobs added to the data frame
837 jobs added to the data frame
838 jobs added to the data frame
839 jobs added to the data frame
840 jobs added to the data frame
841 jobs added to the data frame
842 jobs added to the data frame
843 jobs added to the data frame
844 jobs added to the data frame
845 jobs added to the data frame
846 jobs added to the data frame
847 jobs added to the data frame
848 jobs added to the data frame
849 jobs added to the data frame
850 jobs added to the data frame
851 jobs added to the data frame
852 jobs added to the data frame
853 jobs added to the data frame
854 jobs added to the data frame
855 jobs added to the data frame
856 jobs added to the data frame
857 jobs added to the data frame
858 jobs added to the data frame
859 jobs added to the data frame
860 jobs added to the data frame
861 jobs added to the data frame
862 jobs added to the data frame
863 jobs added to the data frame
864 jobs added to the data frame
865 jobs added to the data frame
866 jobs added to the data frame
867 jobs added to the data frame
868 jobs added to the data frame
869 jobs added to the data frame
870 jobs added to the data frame
871 jobs added to the data frame
872 jobs added to the data frame
873 jobs added to the data frame
874 jobs added to the data frame
875 jobs added to the data frame
876 jobs added to the data frame
877 jobs added to the data frame
878 jobs added to the data frame
879 jobs added to the data frame
880 jobs added to the data frame
881 jobs added to the data frame
882 jobs added to the data frame
883 jobs added to the data frame
884 jobs added to the data frame
885 jobs added to the data frame
886 jobs added to the data frame
887 jobs added to the data frame
888 jobs added to the data frame
889 jobs added to the data frame
890 jobs added to the data frame
891 jobs added to the data frame
892 jobs added to the data frame
893 jobs added to the data frame
894 jobs added to the data frame
895 jobs added to the data frame
896 jobs added to the data frame
897 jobs added to the data frame
898 jobs added to the data frame
899 jobs added to the data frame
900 jobs added to the data frame
901 jobs added to the data frame
902 jobs added to the data frame
903 jobs added to the data frame
904 jobs added to the data frame
905 jobs added to the data frame
906 jobs added to the data frame
907 jobs added to the data frame
908 jobs added to the data frame
909 jobs added to the data frame
910 jobs added to the data frame
911 jobs added to the data frame
912 jobs added to the data frame
913 jobs added to the data frame
914 jobs added to the data frame
915 jobs added to the data frame
916 jobs added to the data frame
917 jobs added to the data frame
918 jobs added to the data frame
919 jobs added to the data frame
920 jobs added to the data frame
921 jobs added to the data frame
922 jobs added to the data frame
923 jobs added to the data frame
924 jobs added to the data frame
925 jobs added to the data frame
926 jobs added to the data frame
927 jobs added to the data frame
928 jobs added to the data frame
929 jobs added to the data frame
930 jobs added to the data frame
931 jobs added to the data frame
932 jobs added to the data frame
933 jobs added to the data frame
934 jobs added to the data frame
935 jobs added to the data frame
936 jobs added to the data frame
937 jobs added to the data frame
938 jobs added to the data frame
939 jobs added to the data frame
940 jobs added to the data frame
941 jobs added to the data frame
942 jobs added to the data frame
943 jobs added to the data frame
944 jobs added to the data frame
945 jobs added to the data frame
946 jobs added to the data frame
947 jobs added to the data frame
948 jobs added to the data frame
949 jobs added to the data frame
950 jobs added to the data frame
951 jobs added to the data frame
952 jobs added to the data frame
953 jobs added to the data frame
954 jobs added to the data frame
955 jobs added to the data frame
956 jobs added to the data frame
957 jobs added to the data frame
958 jobs added to the data frame
959 jobs added to the data frame
960 jobs added to the data frame
961 jobs added to the data frame
962 jobs added to the data frame
963 jobs added to the data frame
964 jobs added to the data frame
965 jobs added to the data frame
966 jobs added to the data frame
967 jobs added to the data frame
968 jobs added to the data frame
969 jobs added to the data frame
970 jobs added to the data frame
971 jobs added to the data frame
972 jobs added to the data frame
973 jobs added to the data frame
974 jobs added to the data frame
975 jobs added to the data frame
976 jobs added to the data frame
977 jobs added to the data frame
978 jobs added to the data frame
979 jobs added to the data frame
980 jobs added to the data frame
981 jobs added to the data frame
982 jobs added to the data frame
983 jobs added to the data frame
984 jobs added to the data frame
985 jobs added to the data frame
986 jobs added to the data frame
987 jobs added to the data frame
988 jobs added to the data frame
989 jobs added to the data frame
990 jobs added to the data frame
991 jobs added to the data frame
992 jobs added to the data frame
993 jobs added to the data frame
994 jobs added to the data frame
995 jobs added to the data frame
996 jobs added to the data frame
997 jobs added to the data frame
998 jobs added to the data frame
999 jobs added to the data frame

1000 jobs added to the data frame
1001 jobs added to the data frame
1002 jobs added to the data frame
1003 jobs added to the data frame
1004 jobs added to the data frame
1005 jobs added to the data frame
1006 jobs added to the data frame
1007 jobs added to the data frame
1008 jobs added to the data frame
1009 jobs added to the data frame
1010 jobs added to the data frame
1011 jobs added to the data frame
1012 jobs added to the data frame
1013 jobs added to the data frame
1014 jobs added to the data frame
1015 jobs added to the data frame
1016 jobs added to the data frame
1017 jobs added to the data frame
1018 jobs added to the data frame
1019 jobs added to the data frame
1020 jobs added to the data frame
1021 jobs added to the data frame
1022 jobs added to the data frame
1023 jobs added to the data frame
1024 jobs added to the data frame
1025 jobs added to the data frame
1026 jobs added to the data frame
1027 jobs added to the data frame
1028 jobs added to the data frame
1029 jobs added to the data frame
1030 jobs added to the data frame
1031 jobs added to the data frame

In [14]:
try:
    os.remove('out.csv')
except: 
    print('file removed')

file removed

In [15]:
df_base.to_csv('out.csv')

In [16]:
############# READING DATAFRAME AND SCRAPING JOB DESCRIPTION ############

In [17]:
#df_base.JobRequirements.values

In [18]:
skill_source = pd.read_excel('ds.xlsx')
kw = pd.read_excel('ds_kw.xlsx')
skill_source

    Skill_ID                    Skill        JobTitle        Category
0         -1           Not Identified  Data Scientist  Not Identified
1          1                   Python  Data Scientist            Hard
2          2                      SQL  Data Scientist            Hard
3          3                  BigData  Data Scientist            Hard
4          4                    NumPy  Data Scientist            Hard
5          5                   Spring  Java Developer            Hard
6          6               Mathematcs  Data Scientist       Education
7          7                      SQL  Java Developer            Hard
8          8               Statistics  Data Scientist           Major
9          9         Machine Learning  Data Scientist            Hard
10        10  Artificial Intelligence  Data Scientist           major
11        11                        R  Data Scientist            Hard
12        12           Post-secondary  Data Scientist       Education
13        13                   Master  Data Scientist       Education
14        14                    Spark  Data Scientist            Hard
15        15                    Excel  Data Scientist            Hard
16        16            Communication  Data Scientist            Soft
17        17                      AWS  Data Scientist            Hard
18        18                     SOAP  Data Scientist            Hard
19        19                      XML  Data Scientist            Hard
20        20                     REST  Data Scientist            Hard
21        21                     JSON  Data Scientist            Hard
22        22                   Hadoop  Data Scientist            Hard
23        23                    Azure  Data Scientist            Hard
24        24                      PhD  Data Scientist       Education
25        25         Computer Science  Data Scientist           Major
26        26     Software Engineering  Data Scientist           Major
27        27                   Matlab  Data Scientist            Hard
28        28                      SAS  Data Scientist            Hard
29        29                     Ruby  Data Scientist            Hard
30        30                    Stata  Data Scientist            Hard
31        31                     Java  Data Scientist            Hard
32        32                      C++  Data Scientist            Hard
33        33                 Bachelor  Data Scientist       Education
34        34                     HTML  Data Scientist            Hard
35        35      Predictive Modeling  Data Scientist            Hard
36        36                  Physics  Data Scientist            Hard
37        37             Data Quality  Data Scientist            Hard
38        38          Problem-solving  Data Scientist            Soft
39        39                Proactive  Data Scientist            Soft
40        40                    Cloud  Data Scientist            Hard
41        41                    Scala  Data Scientist            Hard
42        42                   Tableu  Data Scientist            Hard
43        43                Periscope  Data Scientist            Hard
44        44                    MySQL  Data Scientist            Hard
45        45                   Oracle  Data Scientist            Hard
46        46             Presentation  Data Scientist            Hard
47        47                    NoSQL  Data Scientist            Hard
48        48                  Physics  Data Scientist           Major
49        49                Economics  Data Scientist           Major
50        50       Information System  Data Scientist           Major
51        51     Quantitative Finance  Data Scientist           Major
52        52            Biostatistics  Data Scientist           Major
53        53           Bioinformatics  Data Scientist           Major
54        54                      MBA  Data Scientist       Education

In [19]:

# Functions
def find_skill(skill, jobReq ):
    if skill in jobReq:
        return True
    else:
        return False

In [20]:
df_skill_aux = pd.DataFrame(columns=['Job_ID', 'KeyWord', 'Skill_ID'])

In [21]:
df_skill_aux

Empty DataFrame
Columns: [Job_ID, KeyWord, Skill_ID]
Index: []

In [22]:
z = 0
for index, row in df_base.iterrows():
    k = kw.loc[kw.JobTitle == row["JobTitle"], ['KeyWord', 'Skill_ID']]
    jobReq = row["JobRequirements"]
    job_ID = row["Job_ID"]

    for idx, skills in k.iterrows():
        skill = ' ' + skills["KeyWord"]
        skill_ID = skills["Skill_ID"]
        func = find_skill(skill, jobReq)
        if func:
            # print(job_ID, skill, skill_ID)
            df_skill_aux.loc[z] = [job_ID, skill, skill_ID]
            z += 1

In [23]:
df_skill_aux.head()

             Job_ID   KeyWord Skill_ID
0  7796d7431bb700e7    Python        1
1  7796d7431bb700e7        ML        9
2  7796d7431bb700e7         R       11
3  7796d7431bb700e7    Master       13
4  7796d7431bb700e7   Masters       13

In [24]:
# Creating df_tmp
df_tmp = pd.DataFrame()

In [25]:
df_tmp = df_base.merge(df_skill_aux, how='left', left_on='Job_ID', right_on='Job_ID')
df_tmp.head()

,City,CompanyName,Date,From,JobLink,JobRequirements,JobTitle,JobType,Job_ID,Position,Province,Salary,KeyWord,Skill_ID
0,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,"\n\nData Scientist - Toronto, ON - Indeed.com\...",Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,Python,1
1,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,"\n\nData Scientist - Toronto, ON - Indeed.com\...",Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,ML,9
2,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,"\n\nData Scientist - Toronto, ON - Indeed.com\...",Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,R,11
3,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,"\n\nData Scientist - Toronto, ON - Indeed.com\...",Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,Master,13
4,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,"\n\nData Scientist - Toronto, ON - Indeed.com\...",Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,Masters,13

In [26]:
############# Treating null values #################
values = {'Skill_ID': '-1', 'KeyWord': "Not found"}
df_tmp = df_tmp.fillna(value=values)

In [27]:
df_tmp['Skill_ID'] = df_tmp['Skill_ID'].astype(int)

In [28]:
df_tmp.head()

,City,CompanyName,Date,From,JobLink,JobRequirements,JobTitle,JobType,Job_ID,Position,Province,Salary,KeyWord,Skill_ID
0,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,"\n\nData Scientist - Toronto, ON - Indeed.com\...",Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,Python,1
1,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,"\n\nData Scientist - Toronto, ON - Indeed.com\...",Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,ML,9
2,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,"\n\nData Scientist - Toronto, ON - Indeed.com\...",Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,R,11
3,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,"\n\nData Scientist - Toronto, ON - Indeed.com\...",Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,Master,13
4,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,"\n\nData Scientist - Toronto, ON - Indeed.com\...",Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,Masters,13

In [29]:
skill_source.head()

   Skill_ID           Skill        JobTitle        Category
0        -1  Not Identified  Data Scientist  Not Identified
1         1          Python  Data Scientist            Hard
2         2             SQL  Data Scientist            Hard
3         3         BigData  Data Scientist            Hard
4         4           NumPy  Data Scientist            Hard

In [30]:
####### Use this in case we want to filter jobs that does not match with keywords

#filters Skill_ID not identified
#df_filtered = df_tmp.query('Skill_ID>0')
#df_filtered.head()

In [31]:
#drop description colum to avoid a big data fram
df_tmp = df_tmp.drop(columns=['JobRequirements'])
df_tmp.head()

,City,CompanyName,Date,From,JobLink,JobTitle,JobType,Job_ID,Position,Province,Salary,KeyWord,Skill_ID
0,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,Python,1
1,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,ML,9
2,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,R,11
3,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,Master,13
4,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,Masters,13

In [32]:

df_jobs = df_tmp.merge(skill_source, left_on='Skill_ID', right_on='Skill_ID', how='left')
df_jobs.head()

,City,CompanyName,Date,From,JobLink,JobTitle_x,JobType,Job_ID,Position,Province,Salary,KeyWord,Skill_ID,Skill,JobTitle_y,Category
0,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,Python,1,Python,Data Scientist,Hard
1,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,ML,9,Machine Learning,Data Scientist,Hard
2,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,R,11,R,Data Scientist,Hard
3,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,Master,13,Master,Data Scientist,Education
4,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,Masters,13,Master,Data Scientist,Education

In [33]:
df_jobs = df_jobs.drop_duplicates(subset={'Job_ID','Skill_ID'}, keep='first', inplace=False)

In [34]:
df_jobs.head()

,City,CompanyName,Date,From,JobLink,JobTitle_x,JobType,Job_ID,Position,Province,Salary,KeyWord,Skill_ID,Skill,JobTitle_y,Category
0,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,Python,1,Python,Data Scientist,Hard
1,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,ML,9,Machine Learning,Data Scientist,Hard
2,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,R,11,R,Data Scientist,Hard
3,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,Master,13,Master,Data Scientist,Education
5,Toronto,Maple Leaf Sports & Entertainment,11/20/2018,Indeed,https://ca.indeed.com//viewjob?jk=7796d7431bb7...,Data Scientist,Not Informed,7796d7431bb700e7,[Data Scientist],ON,Not Informed,Excel,15,Excel,Data Scientist,Hard

In [35]:
os.remove('out_jobs_opp.csv')
df_final=df_jobs.to_csv('out_jobs_opp.csv')

In [36]:
ts = time.time()
print('End Time')
print (datetime.datetime.fromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S'))

End Time
2018-11-20 20:33:31